<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> Shunzhe Yu
    		<span id="busuanzi_container_site_pv">
    			你是第<span id="busuanzi_value_site_pv"></span>个小伙伴
			</span>
    	</div>
    </div>
  </div>
</footer>