//-----------------------------
// base & reset
//-----------------------------
abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var
  border: 0
  font-family: inherit
  font-size: font-size
  font-style: inherit
  font-weight: inherit
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline
abbr
  cursor: help
  border-bottom: 1px dotted
  font-variant: normal
acronym
  border-bottom: 1px dotted
  font-variant: normal
body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  background: color-background
  color: color-default
  font-family: font-sans
  font-size: font-size
  font-weight: font-weight-normal
  line-height: line-height
  text-rendering: optimizelegibility
button::-moz-focus-inner, input::-moz-focus-inner, figure.highlight td, .post .entry-content figure.highlight th
  border: 0
  padding: 0
caption, table, td, th
  vertical-align: middle
caption, td, th, .table-align-left
  text-align: left
del
  text-decoration: line-through
html
  font-size: font-size-root
:root
  sub, sup
    vertical-align: baseline
table
  border-collapse: separate
  border-spacing: 0
a
  color: color-link
  text-decoration: none
  utilAni(0.7s)
  img
    border: none
  border: 0
  font-family: inherit
  font-size: font-size
  font-style: inherit
  font-weight: inherit
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline
  &:hover
    utilAni(0.2s)
    color: darken(color-link,20)