//-----------------------------
// font size
//-----------------------------
@media (min-width: 481px)
  html
    font-size: font-size-root-large

@media (min-width : 0px) and (max-width : 480px)
  html
    font-size: font-size-root