//-----------------------------
// footer
//-----------------------------
#footer
  background-color: color-default
  color: color-background
  display: block
  font-size: font-size
  letter-spacing: letter-spacing
  line-height: line-height
  margin: content-margin 0 0 0
  padding:0
.site-author-info
  margin: 0
  padding: content-margin content-margin-side * 2
  h6
    font-size: font-size * 1.0
    color: color-background
    font-weight: bold
    display: inline-block
    background-color: darken(color-default , 5)
    padding: font-size * 0.4 font-size * 0.8
.site-author-info-wrapper
  FlexBox()
  .flx
    &:first-child
      margin: 0 font-size 0 0
.authorCap-wrapper
  FlexGlow(3)
.authorCap
  font-size: font-size * 1.4
  font-weight: bold
.authorReading
  font-size: font-size * 0.7
.site-author-desc
  font-size: font-size * 0.8
  line-height: font-size * 1.6rem
  margin: font-size * 1.4 0

.copyright-tool
  margin: 0
  padding: content-margin * 0.5 content-margin-side * 2
  border-top: 1px solid lighten(color-default , 5)
.copyright-notice
  p
    font-size: font-size * 0.6
    letter-spacing: letter-spacing
    line-height: font-size * 1.2
    color: lighten(color-default , 40)
.copyright-title
  font-size: font-size
  text-align: center
  margin: content-margin-side 0 content-margin-side * 0.5 0
.copyright-license
  margin: content-margin-side * 0.5 0 content-margin-side 0
  font-size: font-size * 0.7
  text-align: center
  a
    color: darken(color-background , 10)
    font-size: font-size * 0.7
    &:hover
      color: darken(color-background , 30)

.sns-link
  margin: 0
  text-align: center
  a
    display: inline-block
    font-size: font-size * 1.6
    text-align: center
    width: 2rem
    height: 2rem
    line-height: 2rem
    padding: font-size * 0.6
    margin: 0 font-size * 0.1
    background-color: darken(color-default , 5)
    color: color-background
    border-radius: 4px
    &:hover
      color: darken(color-background , 20)
      background-color: darken(color-default , 20)

.footer-menu
  padding: content-margin * 0.5 content-margin-side
  border-top: 1px solid lighten(color-default , 5)
  ul
    li
      list-style: none
      margin: 0
      padding: 0
      a
        display: block
        padding: font-size * 0.6
        margin: font-size * 0.2 content-margin-side * 2
        font-size: font-size
        color: color-background
        background-color: darken(color-default , 5)
        border-radius: 4px
        text-align: center
        font-weight: bold
        &:hover
          color: darken(color-background , 20)
          background-color: darken(color-default , 20)