//----------------------------------
// Function
//----------------------------------
// (e.g.) utilAni(0.4s)  // Sec = 0.4 sec
utilAni(Sec)
  -webkit-transition: Sec
  -ms-transition: Sec
  -moz-transition: Sec
  -o-transition: Sec
  transition: Sec

FlexBox()
  display: flex
  justify-content: center
  -webkit-align-items: center
  align-items:         center

FlexGlow(Glow)
  -webkit-flex-grow: Glow
  flex-grow:         Glow

// Default Buttom
BtnDefault(MarginTB = 0.2 , MarginLR = 0.2 , BtnHeight = 3.5)
  margin: font-size * MarginTB font-size * MarginLR
  height: font-size * BtnHeight
  
  a.amb
    utilAni(0.1s)
    font-size: font-size
    font-weight: bold
    height: font-size * (BtnHeight * 0.85)
    line-height: font-size * (BtnHeight * 0.85)
    text-align: center
    color: color-background
    width: 100%
    margin: 0 auto
    padding: 0
    display: block
    border-radius: 4px
    box-shadow: 1px 1px 8px #ccc
    
    &:hover
      color: color-background
      box-shadow: 0px 0px 2px #eee

// Buttom Color
BtnColor(Color = #f0f0f0 , BtnBottomShadow = 15)
  a.amb
    background-color: Color
    text-shadow: 0px 0px 10px darken(Color , 6) , 0px 0px 2px darken(Color , 8)
    border-bottom: 3px solid darken(Color , BtnBottomShadow)
    border-top: 1px solid lighten(Color , BtnBottomShadow)
    border-right: 1px solid darken(Color , 8)
    border-left: 1px solid lighten(Color , 8)
    &:hover
      background-color: darken(Color , 2)
      border-top: 3px solid color-background
      border-right: 1px solid color-background
      border-left: 1px solid color-background
      border-bottom: 1px solid darken(Color , BtnBottomShadow)