//-----------------------------
// util
//-----------------------------
.clearfix:after
  clear: both
  visibility: hidden
  content: "."
  display: block
  height: 0
.left
  float: left
.right
  float: right
.circle
  -webkit-border-radius: 50%
  border-radius: 50%


.thumbImg-w
  width: 100px
  height: 100px
  display: inline-block
  position: relative
  overflow: hidden

.thumbImg
  top: 50%;
  left: 50%;
  position: absolute
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
