//----------------------------------
// Font setting
//----------------------------------
font-sans    = sans-serif
font-serif   = font-sans
font-mono    = Menlo, Consolas, Monaco, Consolas, monospace
font-awesome = "fontawesome"

font-weight-normal 	 = 500
font-size-root       = 14px
font-size-root-large = 16px
font-size 			 = 1.0rem
letter-spacing       = font-size * 0.05
content-margin       = font-size * 3
content-margin-side  = font-size * 0.8
line-height 		 = font-size * 2

font-size-code		 = font-size * 0.85
letter-spacing-code  = font-size * 0.05

//----------------------------------
// Base Color
//----------------------------------
color-default 			= #2d3d40 //#3a484b
color-default-weak      = #7f989b
color-title 			= #000
color-h                 = #98b8be
color-h-border          = #cce4e8
color-border 			= #ddd
color-link 				= #d45983
color-background 		= #FFF
color-meta 				= #999
color-inlineCode-background = #ecf5f7
color-inlineCode            = #007e96
color-blockquote-border = color-h
color-tableBack 		= color-inlineCode-background
color-em	 			= #886d00
color-em-background 	= #f9f5d1
color-strong 			= #871c1c
color-strong-background = #FADCDC



//----------------------------------
// syntax code color (light version)
//----------------------------------
// color-code-background   = #fdfdfd
// color-code 	   			= lighten(color-code-background,2)
// color-code-border 		= darken(color-code-background,4)
// color-code-border-left 	= color-code-border
// code-variable  			= #686867
// code-comments  			= #D4D0CD
// code-class     			= #6c9a1c
// code-number    			= #d19100
// code-function  			= #bf1944
// code-method    			= #14aab0
// code-important 			= #7862c9
// code-gutter    			= darken(color-code-background,4)
// code-figcaption			= #C7BFB9
// color-figcaption        = darken(color-code-background , 4)
// color-figcaption-title  = code-variable
// is-gutter = false

//----------------------------------
// syntax code color (dark version)
//----------------------------------
color-code-background     = #263338
color-code 	   			  = #f8f8f2
color-figcaption          = #1e282c
color-figcaption-title    = #e9e9d6
color-code-border 	      = color-code
color-code-border-left    = color-code
code-variable  		= #f8f8f2
code-comments  		= #75715e
code-class     		= #a6e22e
code-number    		= #e6db74
code-function  		= #f92672
code-method    		= #66d9ef
code-important 		= #9882eb
code-gutter    		= lighten(color-code-background , 4)
is-gutter = false


//----------------------------------
// Social link color
//----------------------------------
color-gray 			= #888
color-twitter   	= #00aced
color-facebook  	= #305097
color-flickr    	= #ff0084
color-google    	= #db4a39
color-hatena    	= #00a4de
color-getPocket 	= #ee4056
color-line      	= #5ae628
color-tumblr    	= #34526f
color-mixi      	= #d1ad59
color-instagram 	= #795548
color-feedly    	= #2bb24c
color-soundcloud	= #ff5500
color-mail			= #888
color-rakuten       = #c2272f
color-yahoo         = #FB0027
color-yahoo-white   = #f2f2f2
color-yahoo-black   = #222222

//----------------------------------
// Social link color (flat version)
//----------------------------------
color-twitter-flat   = #1cafe8
color-facebook-flat  = #4f677f
color-flickr-flat    = #cf649b
color-google-flat    = #d56153
color-hatena-flat    = #35acda
color-getPocket-flat = #db6674
color-line-flat      = #6cd348
color-tumblr-flat    = #465f79
color-mixi-flat      = #c9ab67
color-instagram-flat = #7d6760
color-feedly-flat    = #4eaf64
color-soundcloud-flat= #d97a4c
color-mail-flat		 = #888


// else color
color-attention     = #ce8a8a
color-attention-weak= #fcf7f7
color-download      = #88a3c1
color-download-weak = #f4f8fc
color-memo          = #88b9c1
color-memo-weak     = #f7fbfc
color-amazon 		= #de9c48

